/* === ALL SCREENS (small+) =============================== */

/* === Basic HTML =============================== */

body {
	color: #222;
	background: #fff;
	font-family: 'Johnston ITC W01 Light', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5em;
}

h1, h2, h3 {
	text-shadow: 0 1px 0 #ffffff;
}
h1 {
	font-size: 3em;
	line-height: 1.25em;
	font-family: 'AdobeCaslonW01-Regular';
	font-weight: normal;
}
h2 {
	font-size: 2em;
	line-height: 1.25em;
}
h3 {
	font-size: 1.4em;
	line-height: 1.5em;
}

p {
	margin: 0 0 20px 0;
}


ul {
	list-style: none;
}
li {
	list-style: none;
	margin: 0 0 1em 0;
}
ol li {
	list-style: upper-roman;
}

a {
	text-decoration: none;
	color: #027cb8;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
a:hover {
	color: #094d6f;
}

blockquote {
	font-size: 150%;
	line-height: 140%;
	color: #027cb8;
	margin-right: 0;
}



/* === General (used in multiple situations) =============================== */


.nav-next {
	float: right;
}
.nav-previous {
	float: left;
}

/* User inputted image stuff */

.alignnone {
	max-width: 100%;
	height: auto;
}

.alignright {
	padding: 0 0 1em 1em;
	max-width: 70%;
	height: auto;
}
.alignleft {
	padding: 0 1em 1em 0;
	max-width: 70%;
	height: auto;
}

/* === Header =============================== */


header {
	display: block;
	width: 100%;
	z-index: 100;
	font-size: 12px;
}
#access {
	background-color: #111;
	display: block;
}

header h1 {
	font-size: 0.5em;
	padding: 10px 10px 9px 20px;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}


header h1 a img{
	height: 20px;
}
#skip {
	display: none;
}

header h1 a img {
	height: 20px;
}


/*Menu reveal button*/

.menu-reveal {
	background: none;
	border: none;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding: 5px 12px 3px;
	float: right;
	margin-top: 10px;
	font-size: 15px;
}
.menu-reveal:hover {
	color: #eee;
}
.menu-reveal span {
	font-size: 12px;
}
.open .menu-reveal {
	color: #ddd;
}

/*General menus*/

.menu {
	display: none;
	clear: left;
	border-top: 1px solid #333;
	margin: 0;
	padding: 0;
	width: 100%;
	font-weight: bold;
	font-family: "Helvetica Neue Bold", "HelveticaNeue-Bold", Arial, Helvetica, Geneva, sans-serif;
}



.open .menu {
	display: block;
}
.menu li {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.menu li a {
	display: inline-block;
	color: #aaa;
	padding: 10px;
}
.menu li a:hover,
.menu li.current_page_item a:hover,
.menu li.current-page-ancestor a:hover {
	color: #f1c407;
}

.menu li.current_page_item a,
.menu li.current-page-ancestor a {
	color: #eee;
}



/* === Content (everything between header and footer) =============================== */



/* === Gallery =============================== */

.gallery {
	max-width: 70%;
	height: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 1em 0;
}
.gallery dl {
	float: left;
	width: 25%;
	padding: 0 10px 0 0;
	margin: 0;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.gallery dd {
	margin: 0;
	text-align: center;
	font-size: 85%;
	padding: 0;
	color: #eee;
	text-shadow: 1px 1px 0 rgba(0,0,0,1);
	position: absolute;
	bottom: 5px;
	left: 10px;
}
.gallery a {
	display: block;
	line-height: 0;
}
.gallery img {
	max-width: 100%;
	height: auto;
}



/* === Homepage (specifics) =============================== */




/* === Latest (blog) =============================== */




/* === Contact =============================== */



/* === Footer =============================== */


footer {
	padding: 0px 10px;
	border-top: 1px solid #ddd;
	clear: both;
	font-size: 80%;
	color: #888;
	min-height: 400px;
}
footer > p {
	float: right;
	padding: 10px;
}





/* === Symbolset =============================== */

.ssstandard,
.sssocial {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	text-rendering: optimizeLegibility;
	white-space: nowrap;
	/*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
	-moz-font-feature-settings: "liga=1";
	-moz-font-feature-settings: "liga";
	-ms-font-feature-settings: "liga" 1;
	-o-font-feature-settings: "liga";
	font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
}

.ssstandard {
	font-family: "SSStandard";
}

.sssocial {
	font-family: "SSSocial";
}




/* === NOTES =============================== */

/*
font-family:'AdobeCaslonW01-Regular';
font-family:'Johnston ITC W01 Bold';
font-family:'JohnstonITCW01-BoldItal';
font-family:'Johnston ITC W01 Light';
font-family:'JohnstonITCW01-LightIta';
font-family:'ITC Johnston W01 Lt SC';
*/


/* ===============================

Structure
 
 BODY
 - HEADER
 - SECTION#content
 - FOOTER
 
=============================== */

