/* @override 
	http://cfc.kendal.webfactional.com/wordpress/wp-content/themes/cfc/css/large.css */

/* === Large screens + =============================== */





/* === People =============================== */
#people {
	font-size: 140%;
}
#people li {
	width: 25%;
}
#people li:nth-child(3n+1) {
	clear: none;
}
#people li:nth-child(4n+1) {
	clear: left;
}



/* === Publications =============================== */


/*Home specifics*/

.home #publications a img {
	max-width: 100%;
	margin: 0 20px 10px 0;
	float: left;
}
.home #publications li {
	width: 50%;
	float: left;
	clear: none;
	padding: 0 30px 10px 10px;
}
.home #publications .publication-title {
	font-size: 110%;
	clear: left;
}