/* @override 
	http://cfc.kendal.webfactional.com/wordpress/wp-content/themes/cfc/css/medium.css */

/* === Medium screen +  =============================== */




/* === Header =============================== */

header {
}

/*Menu reveal button*/
.menu-reveal {
	display: none;
}

.menu, 
.open .menu {
	width: auto;
	display: inline-block;
	clear: none;
	padding: 0;
	margin: 0;
	border-top: none;
}

 
.menu li {
	display: inline-block;
	width: auto;
	float: none;
	background-color: none;
}
.menu li a {
	display: inline-block;
	border-bottom: none;
	background: none;
}


/* === Content (everything between header and footer) =============================== */
h1.page-title {
	font-size: 50px;
}


.entry-content {
	margin: 1em 0;
	text-align: left;
	float: left;
}

/* === Aside =============================== */

aside {
	width: 23%;
	float: right;
}


/* === Home =============================== */

.column {
	width: 33%;
	float: left;
	padding: 20px 20px 20px 0;
	border-bottom: none;
}

/* === Homepage (specifics) =============================== */



/* === People =============================== */
#people {
	font-size: 120%;
}
#people li {
	width: 33.3333%;
}
#people li:nth-child(2n+1) {
	clear: none;
}
#people li:nth-child(3n+1) {
	clear: left;
}

/* People slideshow on homepage */

#people-slideshow {
	padding: 40px 40px 0 40px;
	overflow: hidden;
}
#people.slideshow {
	padding: 0;
}
#people.slideshow li {
	box-sizing: border-box;
	float: left;
}
#people.slideshow li {
	width: 24%;
	font-size: 80%
}
#people.slideshow li.off {
	display: none;
}
#people.slideshow li.more a {
	padding-top: 4em;
	width: 100%;
	height: 100%;
	display: block;
}

/* Arrows (show if JS is on) */
.js .arrow {
	display: block;
	position: absolute;
	color: white;
	top: 100px;
	padding: 10px;
	cursor: pointer;
	font-size: 120%;
}
.arrow:hover {
	color: #d6e28c;
}
.arrow.off:hover {
	color: white;
}
.arrow.off {
	opacity: .3;
	cursor: default;
}
.back {
	left: 5px;
}
.forward {
	right: 5px;
}

/* === Clerks =============================== */


#clerks li {
	width: 33%;
	float: left;
	padding: 0 20px 30px 0;
	margin: auto 0;
	text-align: left;
}

/* === Publications =============================== */


#publications li {
	width: 50%;
	float: left;
	clear: none;
	padding: 0 30px 10px 10px;
}
#publications li:nth-child(2n+1) {
	clear: left;
}

/*Home specifics*/


.home #publications li {
	width: 100%;
	float: none;
	clear: none;
	padding: 0 30px 30px 10px;
}
.home #publications a img {
	max-width: 75%;
	margin: 0 20px 10px 0;
}
.home #publications .publication-title {
	font-size: 110%;
	clear: left;
}

/* === Single Publication =============================== */

.publication-image {
	display: block;
	float: left;
	width: 33.3%;
	margin: 0 2em;
}
.publication-image img {
	width: 78%;
	max-width: 100%;
	height: auto;
}

.single-publication .entry-content {
	float: left;
	width: 50%;
}

/* === Single People =============================== */

.single-people .wp-post-image {
	float: left;
	width: 25%;
}
.people-content {
	text-align: left;
	margin-left: 25%;
	padding-left: 20px;
	box-sizing: border-box;
}
.people-content h2 {
	text-align: left;
}
.people-details-nav {
	float: left;
	width: 30%;
	text-align: right;
}
.people-details-nav li {
}
.people-details-nav li a {
	display: block;
	margin: 0;
	padding: 5px;
}
.people-details {
	width: 68%;
	float: left;
	margin-left: 2%;
}
.people-details h2 {
	text-align: left;
}

/* === Case News (blog) =============================== */

.type-post {
	width: 50%;
	float: left;
	padding: 0 20px 20px 0;
	border-top: 1px dotted #ccc;
}

.type-post:nth-child(2n+2) {
	clear: left;
}
.type-post:nth-child(1) {
	border-top: none;
	background: red;
}
.type-post:nth-child(0) {
	border-top: none;
	background: red;
}
.home .type-post {
	width: auto;
	padding: 0;
}