/* @override 
	http://cfc.kendal.webfactional.com/wordpress/wp-content/themes/cfc/css/medium.css */

/* === Medium screen +  =============================== */

.subtitle {
	text-align: left;
}


/* === Header =============================== */

header {
}

/*Menu reveal button*/
.menu-reveal {
	display: none;
}

.menu, 
.open .menu {
	width: auto;
	display: inline-block;
	clear: none;
	padding: 0;
	margin: 0;
	border-top: none;
}

 
.menu li {
	display: inline-block;
	width: auto;
	float: none;
	background-color: none;
}
.menu li a {
	display: inline-block;
	border-bottom: none;
	background: none;
}


/* === Content (everything between header and footer) =============================== */
h1.page-title {
	font-size: 50px;
}


.entry-content {
	margin: 1em 0;
	text-align: left;
	float: left;
}

/* === Aside =============================== */

aside {
	width: 23%;
	float: right;
}


/* === Home =============================== */

/*.column {
	width: 33%;
	float: left;
	padding: 20px 20px 20px 0;
	border-bottom: none;
}*/

.home .entry-content {
	padding: 20px 100px 20px 20px;
}
.home .entry-content h2 {
	text-shadow: none;
	margin: 0;
	font-size: 190%;
}
/* === Homepage (specifics) =============================== */



/* === People =============================== */
#people {
	font-size: 120%;
}
#people li {
	width: 33.3333%;
}
#people li:nth-child(2n+1) {
	clear: none;
}
#people li:nth-child(3n+1) {
	clear: left;
}

/* People slideshow on homepage */
/*div#peopleslideshow / div#slideshowholder / ul#people.slideshow / #people.slideshow li*/
#peopleslideshow {
	position: relative;
	padding: 40px;
	margin: 0;
	clear: both;
	background: #4e7c83;
	background: rgba(2,73,83,.7);
	text-align: center;
}
#slideshowholder {
	position: relative;
	width: 100%;
	/*background: #eee;*/
}
#people.slideshow {
	padding: 0;
	margin: 0;
	white-space: nowrap;
	/*background: #333;*/
	box-sizing: border-box;
	height: 20%;
	letter-spacing: -0.31em;
	word-spacing: -0.43em;
}
#people.slideshow li {
	box-sizing: border-box;
	/*background: #a00;*/
	display: inline-block;
	vertical-align: bottom;
	width: 25%;
	font-size: 80%;
	padding: 0;
	margin: 0;
	letter-spacing: normal;
	word-spacing: normal;
}

#people.slideshow li:nth-child(1) {
}

/*#people.slideshow li:nth-child(2n+1) {
	background: red;
}*/

#people.slideshow li.off {
}
#people.slideshow li.more {
	display: inline-block;
}
#people.slideshow li.more a {
	padding-top: 4em;
	width: 100%;
	height: 100%;
	display: block;
}
#people.slideshow li img {
	width: 90%;
	margin-top: 0;
}
.barrister-name {
	display: block;
	width: 98%;
	overflow: hidden;
}
/* Arrows (show if JS is on) */
.js .arrow {
	display: block;
	position: absolute;
	color: white;
	top: 45%;
	padding: 10px;
	cursor: pointer;
	font-size: 120%;
}
.arrow:hover {
	color: #d6e28c;
}
.arrow.off:hover {
	color: white;
}
.arrow.off {
	opacity: .3;
	cursor: default;
}
.back {
	left: 5px;
}
.forward {
	right: 5px;
}

/* === Clerks =============================== */


#clerks li {
	width: 33%;
	float: left;
	padding: 0 20px 30px 0;
	margin: auto 0;
	text-align: left;
}

/* === Publications =============================== */


#publications li {
	width: 50%;
	float: left;
	clear: none;
	padding: 0 30px 10px 10px;
}
#publications li:nth-child(2n+1) {
	clear: left;
}

/*Home specifics*/


.home #publications li {
	width: 100%;
	float: none;
	clear: none;
	padding: 0 30px 30px 10px;
}
.home #publications a img {
	max-width: 75%;
	margin: 0 20px 10px 0;
}
.home #publications .publication-title {
	font-size: 110%;
	clear: left;
}

/* === Single Publication =============================== */

a.publication-image {
	display: block;
	float: left;
	width: 40%;
	margin: 0;
	box-sizing: border-box;
}
a.publication-image img {
	width: 78%;
}

.single-publication .entry-content {
	float: left;
	width: 55%;
	margin: 0 0 0 5%;
	box-sizing: border-box;
}
.single-publication .entry-content h4 {
	margin-top: 0;
	text-align: left;
}

/* === Single People =============================== */

.single-people .wp-post-image {
	float: left;
	width: 30%;
	margin-bottom: 3em;
}
.people-content {
	text-align: left;
	margin-left: 30%;
	padding-left: 20px;
	box-sizing: border-box;
}
.people-content h2 {
	text-align: left;
}
.people-details {
	margin-top: 1em;
	border-top: 1px dotted #ccc;
	clear: both;
}
.people-details-nav {
	display: block;
	border-bottom: 1px dotted #ccc;
	text-align: centre;
	margin: 0;
	padding: 0;
	clear: both;
	float: left;
	width: 30%;
	text-align: right;
	margin-top: 0.4em;
	border-bottom: none;
}
.people-details-nav li {
}
.people-details-nav li a {
	display: block;
	margin: 0;
	padding: 5px;
}

.people-details-nav li a.on {
	color: #9da7a9;
	cursor: default;
}
.people-details-sections {
	width: 68%;
	float: left;
	margin: 0px 0 20px 2%;
}
.people-details h2 {
	text-align: left;
}
.js .people-tab {
	display: none;
}
.js .people-tab.on {
	display: block;
}
h2.tab-title {
	text-align: left;
	margin-top: 0.4em;
	font-size: 1.5em;
}
.people-tab {
	border-top: none;
}

/* === Case News (blog) =============================== */

.type-post {
	width: 50%;
	float: left;
	padding: 0 20px 20px 0;
	border-top: 1px dotted #ccc;
}

.type-post:nth-child(2n+2) {
	clear: left;
}
.type-post:nth-child(2),
.type-post:nth-child(3) {
	border-top: none;
}
.home .type-post {
	width: auto;
	padding: 0;
}