/* @override 
	http://cfc.kendal.webfactional.com/wordpress/wp-content/themes/cfc/css/medium.css */

/* === Medium screen +  =============================== */




/* === Header =============================== */

header {
}

/*Menu reveal button*/
.menu-reveal {
	display: none;
}

.menu, 
.open .menu {
	width: auto;
	display: inline-block;
	clear: none;
	padding: 0;
	margin: 0;
	border-top: none;
}

 
.menu li {
	display: inline-block;
	width: auto;
	float: none;
	background-color: none;
}
.menu li a {
	display: inline-block;
	border-bottom: none;
	background: none;
}


/* === Content (everything between header and footer) =============================== */
h1.page-title {
	font-size: 50px;
}


.entry-content {
	margin: 1em 0;
	text-align: left;
	float: left;
	width: 73%;
}

/* === Aside =============================== */

aside {
	width: 23%;
	float: right;
}


/* === People =============================== */
#people {
	font-size: 120%;
}
#people li {
	width: 33.3333%;
}
#people li:nth-child(2n+1) {
	clear: none;
}
#people li:nth-child(3n+1) {
	clear: left;
}


/* === Publications =============================== */


#publications li {
	width: 50%;
	float: left;
	clear: none;
	padding: 0 30px 10px 10px;
}
#publications li:nth-child(2n+1) {
	clear: left;
}

/* === Single Publication =============================== */

.publication-image {
	display: block;
	float: left;
	width: 33.3%;
	margin: 0 2em;
}
.publication-image img {
	width: 78%;
	max-width: 100%;
	height: auto;
}

.single-publication .entry-content {
	float: left;
	width: 50%;
}



