/* @override 
	http://cfc.kendal.webfactional.com/wordpress/wp-content/themes/cfc/css/medium.css */

/* === Medium screen +  =============================== */




/* === Header =============================== */

header {
}

/*Menu reveal button*/
.menu-reveal {
	display: none;
}

.menu, 
.open .menu {
	width: auto;
	display: inline-block;
	clear: none;
	padding: 0;
	margin: 0;
	border-top: none;
}

 
.menu li {
	display: inline-block;
	width: auto;
	float: none;
	background-color: none;
}
.menu li a {
	display: inline-block;
	border-bottom: none;
	background: none;
}


/* === Content (everything between header and footer) =============================== */



.entry-content {
	margin: 1em 0;
	text-align: left;
	float: left;
	width: 73%;
}

/* === Aside =============================== */

aside {
	width: 23%;
	float: right;
}


/* === People =============================== */
#people {
	font-size: 120%;
}
#people li {
	width: 33.3333%;
}